.odbv {
  list-style-type: none;
  padding-left: 0;
  font-family: monospace;

  flex-grow: 1;
  flex-shrink: 1;
}

.odbv__checkpointHash {
  color: rgb(151, 1, 211);
}

.odbv__affixHash {
  color: rgb(81, 1, 211);
}

.obdv__affix {
  vertical-align: top;
}

.odbv__eventHash {
  color: rgb(211, 1, 2);
}

.odbv__checkpointFieldDate {
  color: rgb(133, 153, 0);
}

.odbv__checkpointFieldDate:before {
  content: "(";
}

.odbv__checkpointFieldDate:after {
  content: ")";
}

.odbv__checkpointFieldSession {
  color: rgb(38, 139, 210);
}

.odbv__checkpointFieldSession:before {
  content: "<";
}

.odbv__checkpointFieldSession:after {
  content: ">";
}

.odbv__refIndicator {
  color: RGBA(220, 185, 91, 1.00);
}

.odbv__refIndicator:before {
  content: '(';
}

.odbv__refIndicator:after {
  content: ')';
}

.odbv__checkpointSubject,
.obbv__eventName,
.odbv__entityName {
  color: darkslategrey;
}

.odbv__datestamp {
  color: darkkhaki;
}

.odbv__datestamp:before {
  content: '(';
}

.odbv__datestamp:after {
  content: ')';
}

.odbv__authorName {
  color: darkblue;
}

.odbv__authorName:before {
  content: '<';
}

.odbv__authorName:after {
  content: '>';
}

.odbv--loading {
  background-color: greenyellow;
}

.odbv__affixEntities,
.odbv__entityEvents {
  padding-left: 0;
  list-style-type: none;
}

.odbv__typeShortCode {
  color: #476686;
  text-transform: capitalize;
  font-weight: 700;
}